section.main {
    height: 100vh;
}

.slider {
    width: 100%;
    height: auto;
    max-width: 60rem;
    margin: 0 auto; /* center everything */
    padding: 4rem 5rem;
    position: relative;
    border: 5px solid var(--color-purple);
}

.icon {
    font-size: 2.5rem;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-orange);
    color: #fff;
    border-radius: 50%;
    /* Aligns everything to the left*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* change position */
    position: absolute;
    left: 2rem;
    top: -3rem;
}

.slide {
    width: 100%;
    display: none; /* hides content of slide div */
    transform: translateX(3rem); /* push it to the right side */
    animation: slide 0.5s forwards;
}

.current {
    display: flex; /* shows current slide */
}

@keyframes slide {
    /* create slide in from the right side */
    to {
        transform: translateX(0);
    }
}

.text {
    position: relative;
    padding-bottom: 2rem;
}

/* create text underline */
.text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 25%;
    background-color: var(--color-orange);
    transform: translateX(-50%); /* centers it */
}

img {
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--color-grey);
    border-radius: 50%;
    margin-top: 2rem;
}